@mixin header{
    width: 100%;
    height: 20vh;
    
}


@mixin nav{
    width: 80%;
    height: 20vh;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

     h3{
        color: $colora;
        font-size: 4vh;
     }
    ul{ 
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 25px;
        li{
            a{
                color: $colora;
                text-decoration: none;
                font-size: 3vh;
                box-sizing: border-box;
                border: 1px solid white;
                padding: 2px;
                border-radius: 5px;
                transition: 0.7s;
                background: linear-gradient(rgba(51, 189, 23, 0.6),rgba(128, 101, 74, 0.6));

                &:hover{
                    color: rgb(0, 165, 69);
                    padding: 3px;
                    border: 2px solid rgb(127, 231, 7);
                }
            }
        }
    }
}
 

@mixin main{
   
    width: 100%;
    height: 170vh;
}

@mixin section1{
    
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sec1div1{
        width: 30%;
        height: 25vh;
        background: linear-gradient(rgba(51, 189, 23, 0.6),rgba(128, 101, 74, 0.6));
        padding: 35px 25px;
        border-radius: 5px;
        margin: 4vh;
        a{
            text-decoration: none;
            color: aliceblue;
            box-sizing: border-box;
            border: 1px solid whitesmoke;
            padding: 1px;
            transition: 0.7s;
            &:hover{
                padding: 2px;
            }
        }

    }
    img{
               width: 35%;
               height: 30vh;
               padding-left: 6vh;
    }
}

@mixin section2{
   
    width: 80%;
    height: 70vh ;
    margin: 0 auto;
    .gallery{
        margin: 11px;
        box-sizing: border-box;
        border: 1px solid wheat;
        width: 18vw;
        
        float: left;
        background: linear-gradient(rgba(51, 189, 23, 0.6),rgba(128, 101, 74, 0.6));
        
        &:hover {
            margin: 2px;
            border: 1px solid #777;
            box-shadow: 12px 12px 2px 1px rgba(8, 5, 59, 0.2);
          }
        img{
            width: 100%;
            height: 35vh;
        }
        .text{
            text-align: center;
        }
    }
}

